*{

  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/overflow */
/* navbar Style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
/* nav button  */
.nav-btn{
    background-color: white;
    width: 244px;
    height: 57px;
    border-radius: 8px;
}
.banner{
    background-image: url(assets/Hero-bg.png);
    width: 100%;
    text-align: center;
}
.banner-sub{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.banner-img{
    padding-top: 26px;
    width: 240px;
    height: 240px;
align-items: center;
}
.sub-title{
    width: 998px;
    height: 136px;
    font-weight: 900px;
    font-size: 48px;
}
.discription{
    width: 852px;
    height: 52px;
    opacity: 70%;
    font-size: 16px;
}

.btn{
    background-color: black;
    width: 244px;
    height: 57px;
    border-radius: 8px;
    color: white;
    margin-bottom: 45px;
    /* padding-bottom: 45px; */
}
/* main  */
.main{
    margin: 76px 152px 88px 148px;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
}

.main-div{
padding: 15px;
text-align: center;
}
/* sec-mai style card */
.sec-main{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    padding: 48px;
    margin-bottom: 32px;
}
/* inside card */
.card-title{
    font-size: 24px;
    font-weight: bold;
}
.card-discription{
    opacity: 70%;
    font-size: 16px;
}
.card-btn{
    width: 171px;
    height: 47px;
    background-color: white;
    opacity: 70%;
}
/* 2nd main  */
.main-scend{
    margin: 76px 152px 88px 148px;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.title{
    font-size: 32px;
    font: 900;
}
.discription{
    font-size: 16px;
    opacity: 70%;
}
.video-fleam{
    padding: 32px;
    border-radius: 16px;
    
}
.link-video{
    border-radius: 16px;
    border-color: black;
}
/* skill style */
.skills{
    margin: 76px 152px 88px 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* width: 1140px; */
    /* height: 460px; */
}
.skill{
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    text-align: left;
    /* padding: 40px; */
    /* row-gap: 24px; */
    gap: 24px;
}
.skill-one{
    background-color: rgba(255, 76, 30, 0.05);
    width: 364px;
    height: 229px;
    padding: 40px;
    border-radius: 16px;
    overflow: auto;
}
.skill-one::-webkit-scrollbar {
  display: none;
}

.skill-two{
    background-color: rgba(0, 76, 232, 0.05);
    width: 364px;
    height: 229px;
    padding: 40px;
    border-radius: 16px;
    overflow: auto;
}

.skill-two::-webkit-scrollbar {
  display: none;
}
.skill-three{
    background-color: rgba(255, 223, 0, 0.05);
    width: 364px;
    height: 229px;
    padding: 40px;
    border-radius: 16px;
    overflow: auto;
}

.skill-three::-webkit-scrollbar {
  display: none;
}
/* language  */
.language-icon{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 40px;
}
.language-one{
    display: flex;
    border-radius: 16px;
    padding: 24px;
    border: solid rgba(0, 0, 0, 1);
    text-align:center;
    justify-content: center;
    align-items: center;
}
.language-two{
    display: flex;
    border-radius: 16px;
    padding: 24px;
    border: solid rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.language-three{
    display: flex;
    border-radius: 16px;
    padding: 24px;
    border: solid rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* form*/
.form{
    background-image: url(assets/handshake.jpg);
    width: 1140px;
    height: 313px;
    border-radius: 16px;
    padding: 64px 48px 64px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 49px 150px 80px 150px;
}