*{

  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Nav Style */
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
/* nav button  */
.nav-btn{
    background-color: white;
    width: 244px;
    height: 57px;
    border-radius: 8px;
}
.header-sec{
    background-image: url(assets/Hero-bg.png);
    width: 100%;
    text-align: center;
}
.header-all-sec {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.header-img{
    width: 240px;
    height: 240px;
}
.sub-title{
    width: 998px;
    height: 136px;
    font-weight: 900px;
    font-size: 48px;
}
.discription{
    width: 400px;
    height: 52px;
}
.sec-btn{
    background-color: black;
    width: 244px;
    height: 57px;
    border-radius: 8px;
    color: white;
}