<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
      .food{
        border: 1px solid skyblue;
        padding: 10px;
        border-radius: 10px;
      }
      .food img{
        width: 100%;
      }

      @media screen and (max-width: 576px) {
        .container{
            grid-template-columns: repeat(1, 1fr);
        }
      }
    </style>
</head>
<body>
    <div class="container">
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 1</h3>
            <p>price: $100</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolore, velit numquam blanditiis minus nam earum dolorum hic rem mollitia.</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 2</h3>
            <p>price: $200</p>
            <p>Explicabo saepe rerum eum eos optio odit, voluptas eaque magnam temporibus maxime consectetur sequi, provident animi iure error, at quibusdam?</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 3</h3>
            <p>price: $300</p>
            <p>Corporis quia veniam commodi animi cum repellendus. Facilis, temporibus? Incidunt inventore dolore quia voluptatem blanditiis iure est eos, nulla doloribus!</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 4</h3>
            <p>price: $400</p>
            <p>Ut ipsa illo maiores delectus, velit voluptatibus, quas illum aliquid necessitatibus aut voluptatum ad repudiandae, exercitationem consequatur sit tenetur magni.</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 5</h3>
            <p>price: $500</p>
            <p>Deleniti perferendis in pariatur recusandae quos quod ab officia officiis est, repellat, ullam doloribus consequatur sapiente ducimus fugiat quisquam neque.</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 6</h3>
            <p>price: $600</p>
            <p>Id similique necessitatibus non commodi incidunt maxime esse libero. Aut quae excepturi aliquid eligendi similique ut molestiae odit, ipsum impedit.</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 7</h3>
            <p>price: $700</p>
            <p>Quas quasi officiis quisquam corrupti, labore, sint unde amet, culpa placeat eius vel natus. Beatae id accusantium quaerat at facere.</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 8</h3>
            <p>price: $800</p>
            <p>Vero ut odio quas modi incidunt! Quaerat sint, illum quam, debitis nemo, aliquid dolorem velit quo eligendi sapiente ad asperiores.</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 9</h3>
            <p>price: $900</p>
            <p>Totam doloremque quas quibusdam quia. Architecto hic laboriosam quis molestiae non odit aliquam labore. Maiores quos repudiandae natus odio cum.</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 10</h3>
            <p>price: $1000</p>
            <p>Quae laudantium nobis optio fugit impedit odio quisquam repellat, saepe doloremque eaque fuga blanditiis placeat eius enim corporis magnam obcaecati!</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 11</h3>
            <p>price: $1100</p>
            <p>Ea voluptate architecto, provident incidunt doloribus distinctio? Minus, ratione sint? Omnis at velit quidem optio perspiciatis sint dolores aut deleniti.</p>
        </div>
        <div class="food">
            <img src="top-ten-foods-for-health-2x.webp" alt="">
            <h3>food Item - 12</h3>
            <p>price: $1200</p>
            <p>Et quos sapiente, inventore numquam saepe fugiat minus corrupti sit sequi eaque id cumque corporis pariatur, veniam dolores. Odit, praesentium!</p>
        </div>
    </div>
</body>
</html>